---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import LinkButton from './LinkButton.astro';
import GitHub from './icons/GitHub.astro';
import Link from './icons/Link.astro';
import HTML from './icons/HTML.astro';
import CSS from './icons/CSS.astro';
import JavaScript from './icons/JavaScript.astro';
import Python from './icons/Python.astro';

import personalPortfolioImg from '../assets/images/personal-portfolio.png';
import fifteenPuzzleImg from '../assets/images/fifteen-puzzle.png';
import plagioImg from '../assets/images/plagio.jpg';
import firstWebsiteImg from '../assets/images/first-website.png';

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#E34F26] text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#1572B6] text-white",
    icon: CSS,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black",
    icon: JavaScript,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#3776AB] text-white",
    icon: Python,
  },
  SASS: { name: "Sass", class: "bg-[#CC6699] text-white", icon: null },
  NLP: { name: "NLP", class: "bg-[#34D399] text-black", icon: null },
  RESPONSIVENESS: { name: "Responsiveness", class: "bg-[#8B5CF6] text-white", icon: null },
  GAMEDEVELOPMENT: { name: "Game Development", class: "bg-[#EF4444] text-white", icon: null },
};

const PROJECTS = [
  {
    title: "Personal Portfolio",
    description: "Portafolio moderno y adaptable que muestra proyectos de desarrollo y habilidades técnicas",
    image: personalPortfolioImg,
    github: "https://github.com/facur3/Portafolio",
    demo: "https://facur3.github.io/Portafolio/",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.RESPONSIVENESS],
  },
  {
    title: "Fifteen Puzzle Game",
    description: "Implementación web interactiva del clásico juego de rompecabezas deslizante",
    image: fifteenPuzzleImg,
    github: "https://github.com/facur3/Fifteen",
    demo: "https://facur3.github.io/Fifteen/",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.GAMEDEVELOPMENT, TAGS.PYTHON],
  },
  {
    title: "Plagiarism Detector",
    description: "Sistema de análisis de texto para detección de similitudes en contenido",
    image: plagioImg,
    github: "https://github.com/facur3/plagios",
    tags: [TAGS.PYTHON, TAGS.NLP],
  },
  {
    title: "First Webpage",
    description: "Implementación inicial de una plataforma profesional",
    image: firstWebsiteImg,
    github: "https://github.com/facur3/PFRossi",
    demo: "https://facur3.github.io/PFRossi/",
    tags: [TAGS.HTML, TAGS.SASS, TAGS.RESPONSIVENESS],
  }
];
---
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, demo, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <Image alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full" loading="lazy" src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row flex-wrap mb-2 gap-x-2 gap-y-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    {tag.icon && <tag.icon class="size-4" />}
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {demo && (
                <LinkButton href={demo}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
        </div>
      </div>
    </article>
    ))
  }
</div>